:root {
    font-size: 2vw;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 15px #ccc;
    margin: 5%;
    padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #000;
}

a {
    color: #333;
    text-decoration: none;
}

.link-me {
    column-count: 2;
    margin-top: 2em;
}

.link-card {
    margin: 0 auto;
    box-shadow: 2px 2px 15px #ccc;
    height: 30%;
    width: 40%;
    font-size: 3.5em;
    padding: .2em;
    padding-bottom: 2%;
    margin-bottom: 5%;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}

.link-card-text {
    font-size: .6em;
    transition: all 0.3s ease-in-out;
}

.link-card:hover {
    background: #333;
    color: #ccc;
    box-shadow: 2px 2px 15px #333;
    transition: all 0.3s ease-in-out;
}

.link-card:hover .link-card-text {
    color: #ccc;
}

.icon {
    width: 40%;
}

.icon::before {
    font-size: 3em;
}

.icon-bilibili {
    color: #fb7299;
}

.cover {
    position: relative;
    width: 30%;
    border-radius: 50em;
    box-shadow: 2px 2px 15px #ccc;
    transition: all 0.5s ease-in-out;
}

.cover:hover {
    box-shadow: 2px 2px 15px #888;
    transition: all 0.2s ease-in-out;
}

.page-end {
    font-weight: 300;
}

@media screen and (max-width:900px) {
     :root {
        font-size: 16px;
    }
}